.profile__avatar {
  grid-column: 1;
  grid-row: 1;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  min-width: 120px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: opacity .3s ease-in-out;
}

.profile__avatar:hover {
  opacity: 0.3;
  cursor: pointer;
}