.page {
  min-width: 300px;
  background-color: black;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: black;
}